.breadcrumbs {
    padding-bottom: 50px;
    padding-top: 50px;
}

.breadcrumbs-link {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    margin-right: 5px;
    color: #9aa8ba;
}

.breadcrumbs-link:last-child {
    opacity: .7;
}

.block__title {
    font-size: 38px;
    font-weight: 500;
    line-height: 45px;
    margin: 0;
    color: #eff3ff;
  }