.sp__categories {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    margin-bottom: 40px;
    align-items: center;
}

.sp__category.selected {
    background-color: #2d76f9;
    color: #eff3ff;
}

.sp__category {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    cursor: pointer;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 20px;
    text-align: center;
    transition: background-color .2s, color .2s;
    white-space: nowrap;
    box-shadow: 0 14px 61px rgba(23, 27, 44, .75);
    color: #eff3ff;
}

.sp__category:not(.selected):hover {
    background-color: #fff;
    color: #303958;
}


.cardContainer {
    display: grid;
    grid-gap: 40px;
    margin: 0 0 0 0;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.projects__item:hover:before {
    opacity: .6
}

@media screen and (min-width:1279px) {
    .projects__item:nth-child(n+9) {
        display: none
    }
}

@media screen and (max-width:1279px) {
    .cardContainer {
        display: grid;
        grid-gap: 40px;
        margin: 0 auto 0 auto;
        gap: 40px;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        width: fit-content;
    }
}

@media screen and (max-width:500px) {
    .cardContainer {
        display: block;
        grid-gap: 40px;
        margin: 0 0 0 0;
        gap: 40px;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }

    .projects__item {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:1279px)and (min-width:700px) {
    .projects__item:nth-child(n+5) {
        display: none
    }
}

@media screen and (max-width:700px) {
    .projects__item__item:nth-child(n+4) {
        display: none
    }
}