html {
  overflow: auto
}

a {
  text-decoration: none;
}

body,
html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  height: fit-content;
  min-height: 100vh;
  overflow: auto;
  background: linear-gradient(#252631, #242530)
}

#root {
  display: flex;
  flex-flow: column nowrap;
  height: fit-content;
  min-height: 100vh;
  background-image: url('./assets/images/Group\ 120.png');
  background-repeat: no-repeat;
  background-position: right top;
}

.block__container {
  margin: 0 auto;
  transition: width .2s;
  width: 1240px
}

@media screen and (max-width:1279px) {
  .block__container {
    width: 100%;
  }
}

@media screen and (max-width:700px) {
  #root {
    min-height: 100%
  }
}
